BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignOperands: true
AlignAfterOpenBracket: Align

SpaceBeforeParens: ControlStatements

SortIncludes: false

Cpp11BracedListStyle: true
Standard: c++20
